/* write global css here */

.button-bgcolor {
  background-color: #579dff !important;
}
.primary-color {
  color: #9fadbc !important;
}
.sidebar-menu-bg {
  background-color: #5c5c5d;
}
.error {
  color: red !important;
}
.fs-14px {
  font-size: 14px;
}
.opacity-decrease:hover {
  background-color: rgba(30, 114, 210, 0.9) !important;
  /* border: 0.5px solid white; */
  color: rgb(30, 30, 30);
}
.modal-content {
  background-color: rgb(35, 35, 35);
}

@font-face {
  font-family: "Charlie Display";
  src: url("../fonts/charlie-text-semibold.ttf") format("truetype");
  /* You can add more font formats and variations if available */
}

/* sm-lg screen*/
@media only screen and (max-width: 992px) {
  .w-sm-100 {
    width: 100% !important;
  }
}

/* mobile screen */
@media only screen and (max-width: 576px) {
  .width-100 {
    width: 100% !important;
  }
}

/* large screen */
@media only screen and (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
}
