.sidebar-border{
    background-color: red !important;
    border-radius: rgb(157, 255, 0) !important;
}

.hoverEffect:hover{
    background: rgb(48, 47, 47);
}
/* .activeMenu{
    background-color: aqua;
} */
