/* write global css here */

.button-bgcolor {
  background-color: rgb(0, 101, 255) !important;
}

@font-face {
  font-family: "Charlie Display";
  src: url("../fonts/charlie-text-semibold.ttf") format("truetype");
  /* You can add more font formats and variations if available */
}
